@import url('./fonts/inter.css');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: 'Geist Mono';
	src: url('./fonts/GeistMono.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Geist Mono';
	src: url('./fonts/GeistMono-Italic.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

body {
	@apply m-0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -1%;
}

@theme inline {
	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
	--font-mono--font-feature-settings: 'ss02', 'zero';
	--radius-sm: 0;
	--radius-md: 0;
	--radius-lg: 0;
	--radius-xl: 0;
	--radius-2xl: 0;
	--animate-skeleton: skeleton 2s -1s infinite linear;
	--color-warning-foreground: var(--warning-foreground);
	--color-warning: var(--warning);
	--color-success-foreground: var(--success-foreground);
	--color-success: var(--success);
	--color-info-foreground: var(--info-foreground);
	--color-info: var(--info);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);

	@keyframes skeleton {
		to {
			background-position: -200% 0;
		}
	}
}

* {
	letter-spacing: -2%;
}

@supports (font-variation-settings: normal) {
	:root {
		--font-sans: 'InterVariable', sans-serif;
		font-optical-sizing: auto;
	}
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-mox-osx-font-smoothing: grayscale !important;
	--font-sans: 'Inter', sans-serif;
	--font-mono: 'Geist Mono', sans-serif;
	--radius: 0;
	--background: var(--color-white);
	--foreground: var(--color-zinc-800);
	--card: var(--color-white);
	--card-foreground: var(--color-zinc-800);
	--popover: var(--color-white);
	--popover-foreground: var(--color-zinc-800);
	--primary: var(--color-zinc-800);
	--primary-foreground: var(--color-zinc-50);
	--secondary: --alpha(var(--color-black) / 4%);
	--secondary-foreground: var(--color-zinc-800);
	--muted: --alpha(var(--color-black) / 4%);
	--muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-black));
	--accent: --alpha(var(--color-black) / 4%);
	--accent-foreground: var(--color-zinc-800);
	--destructive: var(--color-red-500);
	--border: --alpha(var(--color-black) / 12%);
	--input: --alpha(var(--color-black) / 12%);
	--ring: var(--color-zinc-400);
	--chart-1: var(--color-orange-600);
	--chart-2: var(--color-teal-600);
	--chart-3: var(--color-cyan-900);
	--chart-4: var(--color-amber-400);
	--chart-5: var(--color-amber-500);
	--sidebar: var(--color-zinc-50);
	--sidebar-foreground: color-mix(in srgb, var(--color-zinc-800) 64%, var(--sidebar));
	--sidebar-primary: var(--color-zinc-800);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-accent: --alpha(var(--color-black) / 4%);
	--sidebar-accent-foreground: var(--color-zinc-800);
	--sidebar-border: --alpha(var(--color-black) / 12%);
	--sidebar-ring: var(--color-zinc-400);
	--destructive-foreground: var(--color-red-700);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-700);
	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-700);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-700);
}

.dark {
	--background: color-mix(in srgb, var(--color-zinc-950) 98%, var(--color-white));
	--foreground: var(--color-zinc-200);
	--card: color-mix(in srgb, var(--background) 98%, var(--color-white));
	--card-foreground: var(--color-zinc-200);
	--popover: color-mix(in srgb, var(--background) 96%, var(--color-white));
	--popover-foreground: var(--color-zinc-200);
	--primary: var(--color-zinc-200);
	--primary-foreground: var(--color-zinc-800);
	--secondary: --alpha(var(--color-white) / 6%);
	--secondary-foreground: var(--color-zinc-200);
	--muted: --alpha(var(--color-white) / 6%);
	--muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-white));
	--accent: --alpha(var(--color-white) / 6%);
	--accent-foreground: var(--color-zinc-200);
	--destructive: var(--color-red-500);
	--border: --alpha(var(--color-white) / 12%);
	--input: --alpha(var(--color-white) / 12%);
	--ring: var(--color-zinc-500);
	--chart-1: var(--color-blue-700);
	--chart-2: var(--color-emerald-500);
	--chart-3: var(--color-amber-500);
	--chart-4: var(--color-purple-500);
	--chart-5: var(--color-rose-500);
	--sidebar: var(--color-zinc-950);
	--sidebar-foreground: color-mix(in srgb, var(--color-zinc-200) 64%, var(--sidebar));
	--sidebar-primary: var(--color-zinc-200);
	--sidebar-primary-foreground: var(--color-zinc-800);
	--sidebar-accent: --alpha(var(--color-white) / 6%);
	--sidebar-accent-foreground: var(--color-zinc-200);
	--sidebar-border: --alpha(var(--color-white) / 12%);
	--sidebar-ring: var(--color-zinc-400);
	--destructive-foreground: var(--color-red-400);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-400);
	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-400);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-400);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@utility prose-theme {
	--tw-prose-body: var(--color-foreground);
	--tw-prose-headings: var(--color-foreground);
	--tw-prose-lead: var(--color-muted-foreground);
	--tw-prose-links: var(--color-primary);
	--tw-prose-bold: var(--color-foreground);
	--tw-prose-counters: var(--color-muted-foreground);
	--tw-prose-bullets: var(--color-muted-foreground);
	--tw-prose-hr: var(--color-border);
	--tw-prose-quotes: var(--color-foreground);
	--tw-prose-quote-borders: var(--color-border);
	--tw-prose-captions: var(--color-muted-foreground);
	--tw-prose-code: var(--color-foreground);
	--tw-prose-pre-code: var(--color-muted);
	--tw-prose-pre-bg: var(--color-muted);
	--tw-prose-th-borders: var(--color-border);
	--tw-prose-td-borders: var(--color-border);
	--tw-prose-invert-body: var(--color-foreground);
	--tw-prose-invert-headings: var(--color-foreground);
	--tw-prose-invert-lead: var(--color-muted-foreground);
	--tw-prose-invert-links: var(--color-primary);
	--tw-prose-invert-bold: var(--color-foreground);
	--tw-prose-invert-counters: var(--color-muted-foreground);
	--tw-prose-invert-bullets: var(--color-muted-foreground);
	--tw-prose-invert-hr: var(--color-border);
	--tw-prose-invert-quotes: var(--color-foreground);
	--tw-prose-invert-quote-borders: var(--color-border);
	--tw-prose-invert-captions: var(--color-muted-foreground);
	--tw-prose-invert-code: var(--color-foreground);
	--tw-prose-invert-pre-code: var(--color-muted-foreground);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-border);
	--tw-prose-invert-td-borders: var(--color-border);

	/* List styles */
	&:where(:not([data-theme])) {
		ul {
			margin-top: 0.75rem;
			margin-bottom: 0.75rem;
			padding-inline-start: 1.25rem;
			@apply list-disc;
		}

		ol {
			margin-top: 0.75rem;
			margin-bottom: 0.75rem;
			padding-inline-start: 1.25rem;
			@apply list-decimal;
		}

		li {
			margin-top: 0.25rem;
			margin-bottom: 0.25rem;
			padding-inline-start: 0.25rem;
		}

		li > p {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}

		li > p:first-child {
			margin-top: 0;
		}

		li > p:last-child {
			margin-bottom: 0;
		}

		ul ul,
		ul ol,
		ol ul,
		ol ol {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}

		/* Reduce margins for first/last list elements */
		> ul:first-child,
		> ol:first-child {
			margin-top: 0;
		}

		> ul:last-child,
		> ol:last-child {
			margin-bottom: 0;
		}

		/* Blockquote styles */
		blockquote {
			font-weight: 500;
			font-style: italic;
			color: var(--tw-prose-quotes);
			border-inline-start-width: 0.25rem;
			border-inline-start-color: var(--tw-prose-quote-borders);
			quotes: '\201C' '\201D' '\2018' '\2019';
			margin-top: 1.25em;
			margin-bottom: 1.25em;
			padding-inline-start: 1em;
		}

		blockquote p:first-of-type::before {
			content: open-quote;
		}

		blockquote p:last-of-type::after {
			content: close-quote;
		}

		blockquote strong {
			color: inherit;
		}

		blockquote code {
			color: inherit;
		}
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition:
		background-color 60000000s 0s,
		color 60000000s 0s;
}

input[data-autocompleted] {
	background-color: transparent;
}

/* !NPROGRESS STYLES START */
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: var(--color-primary);

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	box-shadow:
		0 0 10px var(--color-primary),
		0 0 5px var(--color-primary);
	opacity: 1;

	--webkit-transform: rotate(3deg) translate(0, -4px);
	-ms-transform: rotate(3deg) translate(0, -4px);
	transform: rotate(3deg) translate(0, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: var(--color-primary);
	border-left-color: var(--color-primary);
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* !NPROGRESS STYLES END */

::-moz-selection {
	/* Code for Firefox */
	color: var(--primary-foreground);
	background: var(--primary);
}

::selection {
	color: var(--primary-foreground);
	background: var(--primary);
}

.tiptap p.is-editor-empty:first-child::before {
	color: var(--muted-foreground);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
